<header>
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="./assets/img/logo.png"  width="30" height="30" alt=""/>
      {{title}}
    </a>

    <a class="navbar-brand" href="#">Liste des poneys</a>
    <a class="navbar-brand" href="#">Liste des courses</a>
    <a class="navbar-brand" href="#">Ajouter un poney</a>
    <a class="navbar-brand" href="#">Ajouter un poney bis</a>
    <a class="navbar-brand" href="#">Ajouter une courses</a>
  </nav>
  <h1 class="fs-3"></h1>
</header>
<div class="container">
  <add-pony></add-pony>
  <ponies></ponies>
  <races></races>
</div>
<footer class="row row-cols-5 py-5 my-5 border-top">
    <div class="col">
      <img src="./assets/img/logo.png"  width="30" height="30" alt=""/>
    </div>

    <div class="col">
      <h5>Poney</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Liste</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Ajout</a></li>
      </ul>
    </div>

    <div class="col">
      <h5>Courses</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Liste</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Ajout</a></li>
      </ul>
    </div>

    <div class="col">
      <h5>A propre</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Qui sommes-nous</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Nous contacter</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">CGU</a></li>
      </ul>
    </div> 
</footer>